{% extends "base.html" %}

{% set active_main_page = "instance_management" %}
{% set active_instance_page = "noise_data" %}

{% block css %}
<link rel="stylesheet" 
      href="../styles/page_specific/instance_management/common.css">
{% endblock %}

{% block content %}
{% include "instance_management/side_navbar.html" %}
<!-- Current page content -->
<div id="content-container">
    <a onclick="backToInstances()">> Noise Data Instances</a>
    <h1>Specific Noise Data Instance</h1>
    <p>Specific qubit data:</p>
    <div id="qubit-data"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../scripts/instance_management/noise_data_manager/single_instance.js"></script>
{% endblock %}
