/* 
=================================================================
Page specific styles for "Noise Data Instance Management"
=================================================================
File contents list:
1. Page content styles - any page specific styles affecting the
   main page content.
2. Pop-up window styles - any page specific styles affecting
   pop-ups.
-----------------------------------------------------------------

--------------------------------------------------------------
1. Page content styles
-------------------------------------------------------------- 
*/
/* Content box containing created noise data instances */
.noise-data-instances-content-box {
    flex: 1;
    
    overflow-y: auto;
}

/*
--------------------------------------------------------------
2. Pop-up window styles
-------------------------------------------------------------- 
*/ 
/* NoiseDataInstance creation specific styles */
.reference-key-input {
    margin-left: 20px;
    margin-right: auto;
}
