{% extends "base.html" %}

{% set active_main_page = "instance_management" %}
{% set active_instance_page = "circuits" %}

{% block css %}
<link rel="stylesheet" 
      href="../styles/page_specific/instance_management/common.css">
{% endblock %}

{% block content %}
{% include "instance_management/side_navbar.html" %}
<!-- Current page content -->
<div class="content-container">
    <h1 class="content-container-heading">Circuit Instance Management</h1>
    <div class="content-box-header">
        <div class="left">
            <p>Circuit instances:</p>
        </div>
        <div class="right">
            <div role="button"
                 class="clickable button-a dark-button"
                 onclick="showPopUpWindow('create_circuit_instance', initNewInstanceForm)">Create new instance</div>
        </div>
    </div>
    <div id="content-box" 
         class="content-box instances-content-box"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" 
        src="../scripts/instance_management/circuits/all_instances.js"></script>
<script type="text/javascript" 
        src="../scripts/instance_management/common.js"></script>
{% endblock %}
