<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>INTERACTIVE NOISY SIMULATION v{{ version }}</title>
        <!-- Required import for Python Eel to work -->
        <script type="text/javascript" src="/eel.js"></script>
        <!-- CSS file with variables -->
        <link rel="stylesheet" href="../styles/variables.css">
        <!-- Common CSS styles across all pages -->
        <link rel="stylesheet" href="../styles/clickables.css">
        <link rel="stylesheet" href="../styles/dialog.css">
        <link rel="stylesheet" href="../styles/logs.css">
        <link rel="stylesheet" href="../styles/icons.css">
        <link rel="stylesheet" href="../styles/content.css">
        <!-- Specific CSS styles for current page -->
        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Container for pop-up windows -->
        <div id="pop-up-container" 
             class="pop-up-container hidden-element"></div>
        {% include "main_navbar.html" %}
        <!-- Part of page below main navigation bar -->
        <div class="page-content">
            <!-- Log sidebar for messages and errors -->
            <div id="log-sidebar" 
                 class="log-container hidden-element">
                <div class="log-sidebar">
                    <div>
                        <div role="button" 
                             onclick="hideLogSidebar()" 
                             class="clickable x-icon variant-default log-sidebar-x-icon"></div>
                    </div>
                    <h1 class="content-container-heading">Message and Error Log</h1>
                    <div class="content-box-header">
                        <div class="left">
                            <p>Messages:</p>
                        </div>
                        <div class="right">
                            <div role="button"
                                 onclick="eel.clear_all_messages()"
                                 class="clickable button-regular variant-default">
                                Clear entire log
                            </div>
                        </div>
                    </div>
                    <div id="messages" 
                         class="content-box variant-light log-content-box"></div>
                    <div class="content-box-header">
                        <div class="left">
                            <p>Errors:</p>
                        </div>
                        <div class="right">
                            <div role="button"
                                 onclick="eel.clear_all_errors()"
                                 class="clickable button-regular variant-default">
                                Clear entire log
                            </div>
                        </div>
                    </div>
                    <div id="errors" 
                         class="content-box variant-light log-content-box"></div>
                </div>
            </div>
            <!-- Dynamically loaded content based on opened page -->
            {% block content %}{% endblock %}
        </div>
        <div role="button" 
             onclick="showLogSidebar()"
             class="clickable log-sidebar-open-button">
            Message & error log
        </div>
        <!-- Script imports -->
        <script type="text/javascript" src="../scripts/helpers.js"></script>
        <script type="text/javascript" src="../scripts/logs.js"></script>
        <script type="text/javascript"  src="../scripts/common.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
